<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}{% endblock %}</title>



<link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
<link rel="manifest" href="/static/favicon_io/site.webmanifest">



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

{% block head %}{% endblock %}

<!-- <link href="bootstrap.min.css" rel="stylesheet"> -->
</head>
<body>
    <nav class="navbar bg-light fixed-top navbar-light">
        <a class="navbar-brand mx-auto" href="/"><img width="31.9rem" height=30rem id="plague-img" src="/static/images/biohazard-transparent-bubonic-plague-1.png" alt="logo"><span id="projectText"> Project Corontine</span></a>
    </nav>
    <div class="bgimg"> </div>
    <div class="copyright">made by shreesh</div>
    {% block body %}{% endblock %}
</body>
</html>