
{% extends  "base.html" %}

{% block title %}Corantine{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/main.css">
{% endblock %}


{% block body %}
    <!-- <div class="btn btn-lg btn-outline-success"></div> -->
    <!-- main -->
    <div class="container-fluid padding fullPage">
    <div class="row h-100  vertical-center">
        <div class="col-12 h-100 makeCenter vertical-center">
            <div class="loginText">
                <h1 class="loginHeader">How well do you know Shreesh?</h1>
                <form action="/" method="POST">
                    <div class="form-group">
                        <label for="userName">Name</label>
                        <input type="text" class="form-control" id="userName" name="userName" placeholder="Your Name">
                        <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <div class="bgimg"> </div>
{% endblock %}